

.arrow{
    
  --swiper-navigation-size: 30px;
  --swiper-navigation-top-offset: 40%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: #f97316;

}

.pagination {
  --swiper-pagination-color: #f97316;
  --swiper-pagination-left: auto;
  --swiper-pagination-right: 8px;
  --swiper-pagination-bottom: 70px;
  --swiper-pagination-top: auto;
  --swiper-pagination-fraction-color: inherit;
  --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
  --swiper-pagination-progressbar-size: 4px;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
}

.swiper-slide-active .swiper-slide-content {
  filter: none;
  opacity: 1;
  transform: scale(1.05); 
}


.swiper-slide-prev .swiper-slide-content,
.swiper-slide-next .swiper-slide-content {
  filter: blur(2px);
  opacity: 0.5;
}
