@import "tailwindcss";

body{
  font-family: "Inter";
}

@theme{

  --color-primary: #001542;
  --color-secondary : #e6f0f9;
  --color-hightlight: #1112F1;
  --color-orange: #f54900;
  --color-hover: #A83200;
  --color-cinza: #717182;
  --color-sombra: #eeeff3;

}

:root{
  --boxShadow: 0px 0px 33px 6px rgba(0,0,0,0.1);
  --boxShadow2: 0px 0px 4px 2px rgba(0,0,0,0.1);
}

*{
  box-sizing: border-box;
}

/* background: linear-gradient(135deg, #f8fafc 0%, #f1f5f9 100%);  azul gradiente*/ 

/* background: linear-gradient(135deg, #f2f3f7 0%, #e6f7f5 50%, #ffffff 100%); laranja gradiente */